@using InvestissementsPublics.Starter.ApplicationUsers
@using Shared.Domain.ApplicationUsers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@* Views/Shared/_Layout.cshtml *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Investissements Publics</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" />
    <!-- Google Fonts (Nunito) -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
    <!-- SB Admin CSS -->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @* Vous pouvez extraire ceci dans un partial _Sidebar.cshtml *@
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3">Accueil</div>
            </a>
            <hr class="sidebar-divider my-0" />
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i><span>Options</span>
                </a>

                @if (SignInManager.IsSignedIn(User))
                {
                <li class="btn btn-primary btn-block">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Accueil</a>
                </li>
                    @if (User.IsInRole("Gestionnaire systeme"))
                    {
                    <li class="btn btn-primary btn-block">
                        <a class="nav-link text-white" asp-controller="Admin" asp-action="Utilisateurs">Gérer les utilisateurs</a>
                    </li>

                    <li class="btn btn-primary btn-block">
                        <a class="nav-link text-white" asp-controller="Roles" asp-action="Index">Gestion des rôles</a>
                    </li>
                  
                    }
                <li class="nav-item">
                    <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                        <button type="submit" class="btn btn-link nav-link text-white">Déconnexion</button>
                    </form>
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Connexion</a>
                </li>
                }
                <!-- ... autres items ... -->
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                @* Partial _Topbar.cshtml possible *@
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Barre de recherche, notifications, profil, etc. -->
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto text-center">
                    <span>&copy; @DateTime.Now.Year Système d'Information sur l'Investissment Public</span>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- SB Admin scripts -->
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>

    <!-- Page level plugins (Chart.js) -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
   @*  <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script> *@

    @RenderSection("Scripts", required: false)
</body>
</html>
