@model BanqueProjet.Web.Models.DdpViewModel
@{
    ViewData["Title"] = "Étape 4 sur 6 – Durée,cout et activités";
    var step = (int)ViewData["Step"];
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Wizard" method="post">
    <input type="hidden" name="step" value="@step" />
    
    <div class="mb-3">
        <label asp-for="Projets.DureeProjet  " class="form-label">Durée du projet </label>
        <input asp-for="Projets.DureeProjet " class="form-control" />
        <span asp-validation-for="Projets.DureeProjet " class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Projets.CoutTotalProjet" class="form-label">Cout total du projet </label>
        <input asp-for="Projets.CoutTotalProjet" class="form-control" />
        <span asp-validation-for="Projets.CoutTotalProjet" class="text-danger"></span>
    </div>

    <div id="coutAnnuelsProjets-list">
        <h2>Liste des bailleurs</h2>
        @for (int i = 1; i < Model.Projets.CoutAnnuelsProjets.Count; i++)

        {
            <div class="bailleur-item mb-3">
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut">Debut de l'exercice fiscal</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin">Fin de l'exercice fiscal</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn">Nom de la source de financement</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel">Montant du financement</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel" class="text-danger"></span>
                    </div>
                    <div class="col-auto align-self-end">
                        <button type="button" class="btn btn-danger remove-bailleur">Supprimer</button>
                    </div>
                </div>
            </div>
        }
        <button type="button" id="add-coutAnnuelsProjet" class="btn btn-secondary">Ajouter un cout annuel</button>
    </div>

    <div id="bailleurs-list">
        <h2>Bailleurs de fonds</h2>
        @for (int i = 1; i < Model.Projets.BailleursDeFonds.Count; i++)

        {
            <div class="bailleur-item mb-3">
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Projets.BailleursDeFonds[@i].NomBailleur"></label>
                        <input asp-for="Projets.BailleursDeFonds[@i].NomBailleur" class="form-control" />
                        <span asp-validation-for="Projets.BailleursDeFonds[@i].NomBailleur" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.BailleursDeFonds[@i].NomRepresentant "></label>
                        <input asp-for="Projets.BailleursDeFonds[@i].NomRepresentant " class="form-control" />
                        <span asp-validation-for="Projets.BailleursDeFonds[@i].NomRepresentant " class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.BailleursDeFonds[@i].TelephoneRepresentant"></label>
                        <input asp-for="Projets.BailleursDeFonds[@i].TelephoneRepresentant" class="form-control" />
                        <span asp-validation-for="Projets.BailleursDeFonds[@i].TelephoneRepresentant" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.BailleursDeFonds[@i].CourrielRepresentant"></label>
                        <input asp-for="Projets.BailleursDeFonds[@i].CourrielRepresentant" class="form-control" />
                        <span asp-validation-for="Projets.BailleursDeFonds[@i].CourrielRepresentant" class="text-danger"></span>
                    </div>
                    <div class="col-auto align-self-end">
                        <button type="button" class="btn btn-danger remove-bailleur">Supprimer</button>
                    </div>
                </div>
            </div>
        }
        <button type="button" id="add-bailleur" class="btn btn-secondary">Ajouter une partie prenante</button>
    </div>

    <div id="activites-list">
        <h4>Liste des activités</h4>
        @for (int i = 0; i < Model.Projets.Activites.Count; i++)

        {
            <div class="activite-item mb-3">
                <input name="Projets.Activites[@i].IdIdentificationProjet" type="hidden" value="@Model.Projets.IdIdentificationProjet" />

                <div class="row mb-2">
                    <div class="col">
                        <label class="form-label">Numéro de l'activité</label>
                        <input asp-for="Projets.Activites[@i].NumeroActivites" class="form-control" />
                        <span asp-validation-for="Projets.Activites[@i].NumeroActivites" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label">Nom de l'activité</label>
                        <input asp-for="Projets.Activites[@i].NomActivite" class="form-control" />
                        <span asp-validation-for="Projets.Activites[@i].NomActivite" class="text-danger"></span>
                    </div>
                    <div class="col-auto d-flex align-items-end">
                        <button type="button" class="btn btn-danger remove-activite">Supprimer</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <button id="add-activite" type="button" class="btn btn-sm btn-outline-primary mt-2">
        + Ajouter une activité
    </button>

    <div id="coutAnnuelsProjets-list">
        <h2>Liste des bailleurs</h2>
        @for (int i = 1; i < Model.Projets.CoutAnnuelsProjets.Count; i++)



        {
            <div class="bailleur-item mb-3">
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut">Debut de l'exercice fiscal</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleDebut" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin">Fin de l'exercice fiscal</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].ExerciceFiscaleFin" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn">Nom de la source de financement</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].SourcesDeFinancementCoutAn" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel">Montant du financement</label>
                        <input asp-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel" class="form-control" />
                        <span asp-validation-for="Projets.CoutAnnuelsProjets[@i].MontantAnnuel" class="text-danger"></span>
                    </div>
                    <div class="col-auto align-self-end">
                        <button type="button" class="btn btn-danger remove-bailleur">Supprimer</button>
                    </div>
                </div>
            </div>
        }
        <button type="button" id="add-coutAnnuelsProjet" class="btn btn-secondary">Ajouter un cout annuel</button>
    </div>

    <div id="informationFinanciereProjets-list">
        <h2>Activites annuelles</h2>
        @for (int i = 0; i < Model.ActiviteBP.InformationsFinancieresProjet.Count; i++)

        {
            <div class="informationFinanciereProjet-item mb-3">
                <div class="form-row">
                    <div class="col">
                        <label asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut">Debut de l'exercice'</label>
                        <input asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut" class="form-control" />
                        <span asp-validation-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut">Debut de l'exercice'</label>
                        <input asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut" class="form-control" />
                        <span asp-validation-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalDebut" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalFin">Fin de l'exercice</label>
                        <input asp-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalFin" class="form-control" />
                        <span asp-validation-for="ActiviteBP.InformationsFinancieresProjet[@i].ExerciceFiscalFin" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ActiviteBP.InformationsFinancieresProjet[@i].SourcesFinancement">Source de financement</label>
                        <input asp-for="ActiviteBP.InformationsFinancieresProjet[@i].SourcesFinancement" class="form-control" />
                        <span asp-validation-for="ActiviteBP.InformationsFinancieresProjet[@i].SourcesFinancement" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ActiviteBP.InformationsFinancieresProjet[@i].MontantPrevu">Montant prévu</label>
                        <input asp-for="ActiviteBP.InformationsFinancieresProjet[@i].MontantPrevu" class="form-control" />
                        <span asp-validation-for="ActiviteBP.InformationsFinancieresProjet[@i].MontantPrevu" class="text-danger"></span>
                    </div>
                    
                    <div class="col-auto align-self-end">
                        <button type="button" class="btn btn-danger remove-informationFinanciereProjet">Supprimer</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <button id="add-informationFinanciereProjet" type="button" class="btn btn-sm btn-outline-primary mt-2">
        + Ajouter une information sur le financement par activité
    </button>

    

    <div class="d-flex justify-content-between mt-4">
        <button type="submit" name="action" value="Prev" class="btn btn-secondary">Précédent</button>
        <button type="submit" name="action" value="Next" class="btn btn-primary">Suivant</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function handleAdd(btnSelector, listSelector, tmplSelector) {
            $(btnSelector).on('click', function () {
                var count = $(listSelector).children('.coutAnnuelsProjet-item').length;
                var html = $(tmplSelector).html().replace(/__index__/g, count);
                $(listSelector).append(html);
            });
        }
        function handleRemove(itemSelector, btnSelector) {
            $(document).on('click', btnSelector, function () {
                $(this).closest(itemSelector).remove();
            });
        }
        $(function () {
            handleAdd('#add-coutAnnuelsProjet', '#coutAnnuelsProjets-list', '#coutAnnuelsProjet-template');
            handleRemove('.coutAnnuelsProjet-item', '.remove-coutAnnuelsProjet');
        });
    </script>

    <script>
        function handleAdd(btnSelector, listSelector, tmplSelector) {
            $(btnSelector).on('click', function () {
                var count = $(listSelector).children('.activite-item', '.activitesAnuelle-item').length;
                var html = $(tmplSelector).html().replace(/__index__/g, count);
                $(listSelector).append(html);
            });
        }
        function handleRemove(itemSelector, btnSelector) {
            $(document).on('click', btnSelector, function () {
                $(this).closest(itemSelector).remove();
            });
        }
        $(function () {
            handleAdd('#add-activite', '#activites-list', '#activite-template');
            handleRemove('.activite-item', '.remove-activite');
            handleAdd('#add-activitesAnuelle', '#activitesAnuelles-list', '#activitesAnuelle-template');
            handleRemove('.activitesAnuelle-item', '.remove-activitesAnuelle');
        });
    </script>

    <script>
        function handleAdd(btnSelector, listSelector, tmplSelector) {
            $(btnSelector).on('click', function () {
                var count = $(listSelector).children('.informationFinanciereProjet-item').length;
                var html = $(tmplSelector).html().replace(/__index__/g, count);
                $(listSelector).append(html);
            });
        }
        function handleRemove(itemSelector, btnSelector) {
            $(document).on('click', btnSelector, function () {
                $(this).closest(itemSelector).remove();
            });
        }
        $(function () {
            handleAdd('#add-informationFinanciereProjet', '#informationFinanciereProjets-list', '#informationFinanciereProjet-template');
            handleRemove('.informationFinanciereProjet-item', '.remove-informationFinanciereProjet');
        });
    </script>

    <div id="partiesPrenante-template" class="d-none">
        <div class="partiesPrenante-item mb-3">
            <div class="form-group">
                <input name="Projets.CoutAnnuelsProjets[__index__].IdIdentificationProjet" type="hidden" value="@Model.Projets.IdIdentificationProjet" />
                <div class="form-group"><label>Debut de l'exercice fiscal</label><input name="Projets.CoutAnnuelsProjets[__index__].ExerciceFiscaleDebut " class="form-control" /></div>
                <div class="form-group"><label>Fin de l'exercice fiscal</label><input name="Projets.CoutAnnuelsProjets[__index__].ExerciceFiscaleFin" class="form-control" /></div>
                <div class="form-group"><label>Nom de la source de financement</label><input name="Projets.CoutAnnuelsProjets[__index__].SourcesDeFinancementCoutAn" class="form-control" /></div>
                <div class="form-group"><label>Montant du financement</label><input name="Projets.CoutAnnuelsProjets[__index__].MontantAnnuel" class="form-control" /></div>
                <div class="col-auto align-self-end"><button type="button" class="btn btn-danger remove-CoutAnnuelsProjets">Supprimer</button></div>
            </div>
        </div>
    </div>

    <div id="activite-template" class="d-none">
        <div class="activite-item mb-3">
            <input name="Projets.Activites[__index__].IdIdentificationProjet" type="hidden" value="@Model.Projets.IdIdentificationProjet" />
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Numéro de l'activité</label>
                    <input name="Projets.Activites[__index__].NumeroActivites" type="number" class="form-control" />
                    <span class="text-danger field-validation-valid"
                          data-valmsg-for="Projets.Activites[__index__].NumeroActivites"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="col">
                    <label class="form-label">Nom de l'activité</label>
                    <input name="Projets.Activites[__index__].NomActivite" class="form-control" />
                    <span class="text-danger field-validation-valid"
                          data-valmsg-for="Projets.Activites[__index__].NomActivite"
                          data-valmsg-replace="true"></span>
                </div>
                <div class="col-auto d-flex align-items-end">
                    <button type="button" class="btn btn-danger remove-activite">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="activitesAnuelle-template" class="d-none">
        <div class="activitesAnuelle-item mb-3">
            <div class="form-row">
                <input name="Projets.ActivitesAnuelles[__index__].IdIdentificationProjet" type="hidden" value="@Model.Projets.IdIdentificationProjet" />
                <div class="col"><label>Description activite</label><input name="Projets.ActivitesAnuelles[__index__].DescriptionActivite" class="form-control" /></div>
                <div class="col"><label>Cout annuel</label><input name="Projets.ActivitesAnuelles[__index__].CoutAnnuel" type="number" class="form-control" /></div>
                <div class="col"><label>Date de debut</label><input name="Projets.ActivitesAnuelles[__index__].DateDebut" type="date" class="form-control" /></div>
                <div class="col"><label>Date de fin</label><input name="Projets.ActivitesAnuelles[__index__].DateFin " type="date" class="form-control" /></div>
                <div class="col-auto align-self-end"><button type="button" class="btn btn-danger remove-activitesAnuelle">Supprimer</button></div>
            </div>
        </div>
    </div>

    <div id="partiesPrenante-template" class="d-none">
        <div class="partiesPrenante-item mb-3">
            <div class="form-group">
                <input name="ActiviteBP.InformationsFinancieresProjet[__index__].IdIdentificationProjet" type="hidden" value="@Model.Projets.IdIdentificationProjet" />
                <div class="form-group"><label>Debut de l'exercice</label><input name="ActiviteBP.InformationsFinancieresProjet[__index__].ExerciceFiscaleDebut " class="form-control" /></div>
                <div class="form-group"><label>Fin de l'exercice</label><input name="ActiviteBP.InformationsFinancieresProjet[__index__].ExerciceFiscaleFin" class="form-control" /></div>
                <div class="form-group"><label>Source de financement</label><input name="ActiviteBP.InformationsFinancieresProjet[__index__].SourcesDeFinancement" class="form-control" /></div>
                <div class="form-group"><label>Montant prévu</label><input name="ActiviteBP.InformationsFinancieresProjets[__index__].MontantPrevu " class="form-control" /></div>
                <div class="col-auto align-self-end"><button type="button" class="btn btn-danger remove-informationFinanciereProjet">Supprimer</button></div>
            </div>
        </div>
    </div>
}

