@model IEnumerable<SuiviEvaluation.Web.Models.BilanViewModel>

@{
    ViewData["Title"] = "Programmations";
}

<h2>Liste des Programmations</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Nouveau bilan</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Prévision - Montant (exemple)</th>
            <th>Quantité - Année (exemple)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BilanFinancier?.MontantDecaissement</td>
                <td>@item.QuantiteLivreeParAnnee?.QuantiteLivree</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BilanFinancier?.IdInformationsFinancieres" class="btn btn-sm btn-warning">Modifier</a>
                    <a asp-action="Details" asp-route-id="@item.BilanFinancier?.IdInformationsFinancieres" class="btn btn-sm btn-info">Détails</a>
                    <a asp-action="Delete" asp-route-id="@item.BilanFinancier?.IdInformationsFinancieres" class="btn btn-sm btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

